@font-face {
    font-family: jersey;
    src: url(Jersey15-Regular.ttf);
}

body {
    margin: 0 auto;
    font-family: jersey;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeButton {
    padding: 10px 25px;
    margin: 10px;
    border: 1px solid pink;
    border-radius: 10px;
    background-color: lightpink;
    text-decoration: none;
    color: white;
}

.numbersBox {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
}

.newNumberContainer {
    display: flex;
    margin: 10px;
    align-items: center;
}

#removeNewNumberBox,
#sumNumberBox,
#repetitionsNumberBox,
#repetitionsNoNumberBox {
    height: 20px;
    border: 1px solid grey;
    margin: 10px;
    text-align: center;
    padding: 0px 10px;
}

#newNumberBoxText,
#sumOfMarkedBox {
    height: 20px;
    width: 150px;
    border: 1px solid grey;
    text-align: center;
    margin: 10px;
}

.allNumbersBoxCell {
    height: 20px;
    width: 20px;
    background-color: rgb(196, 196, 196);
    margin: 2px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.allNumbersBoxCell:hover {
    background-color: rgb(216, 210, 210);
}

.orangeBox {
    background-color: rgb(255, 204, 153);
}

.orangeBox:hover {
    background-color: rgb(255, 229, 204);
}

.redBox {
    background-color: rgb(255, 59, 59);
}

.redBox:hover {
    background-color: rgb(245, 131, 131);
}

.greenBox {
    background-color: rgb(153, 255, 153);
}

.greenBox:hover {
    background-color: rgb(204, 255, 204);
}

.blueBox {
    background-color: rgb(153, 204, 255);
}

.blueBox:hover {
    background-color: rgb(204, 229, 255);
}

.blueRed:hover {
    background-color: rgb(204, 229, 255);
}

.redOrangeBox {
    background-color: rgb(255, 59, 59);
    color: rgb(255, 59, 59);
}

.redOrangeBox:hover {
    background-color: rgb(255, 204, 153);
    color: black;
}