.firstSide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-bottom: 2px solid rgb(175, 175, 175);
}

a {
    padding: 10px;
    margin: 10px;
    border: 1px solid pink;
    border-radius: 10px;
    background-color: lightpink;
    text-decoration: none;
    color: white;
}